'.platform-darwin atom-workspace':
  'ctrl-1': 'Maximize Space Pane: Switch 1'
  'ctrl-2': 'Maximize Space Pane: Switch 2'
  'ctrl-3': 'Maximize Space Pane: Switch 3'
  'ctrl-4': 'Maximize Space Pane: Switch 4'
  'ctrl-5': 'Maximize Space Pane: Switch 5'
  'ctrl-6': 'Maximize Space Pane: Switch 6'
  'ctrl-7': 'Maximize Space Pane: Switch 7'
  'ctrl-8': 'Maximize Space Pane: Switch 8'
  'ctrl-9': 'Maximize Space Pane: Switch 9'
  'ctrl-0': 'Maximize Space Pane: Reset'

'.platform-win32 atom-workspace':
  'ctrl-1': 'Maximize Space Pane: Switch 1'
  'ctrl-2': 'Maximize Space Pane: Switch 2'
  'ctrl-3': 'Maximize Space Pane: Switch 3'
  'ctrl-4': 'Maximize Space Pane: Switch 4'
  'ctrl-5': 'Maximize Space Pane: Switch 5'
  'ctrl-6': 'Maximize Space Pane: Switch 6'
  'ctrl-7': 'Maximize Space Pane: Switch 7'
  'ctrl-8': 'Maximize Space Pane: Switch 8'
  'ctrl-9': 'Maximize Space Pane: Switch 9'
  'ctrl-0': 'Maximize Space Pane: Reset'
